##### IMPORT

In [1]:
from langchain_google_genai import GoogleGenerativeAI
from dotenv import load_dotenv
import os

##### ENV VARIABLES

In [2]:
load_dotenv()
api_key = os.getenv("API_KEY")
user = os.getenv("DB_USER")
pswd = os.getenv("DB_PASSWORD")
host = os.getenv("DB_HOST")
name = os.getenv("DB_NAME")

##### MODEL DEFINITION

In [3]:
llm = GoogleGenerativeAI(google_api_key=api_key, model = "gemini-2.0-flash", temperature=0.2)
poem = llm("write a poem on my love for dosa")
print(poem)

C:\Users\layas\AppData\Local\Temp\ipykernel_10836\1783157393.py:2: LangChainDeprecationWarning: The method `BaseLLM.__call__` was deprecated in langchain-core 0.1.7 and will be removed in 1.0. Use :meth:`~invoke` instead.
  poem = llm("write a poem on my love for dosa")

The griddle sings a sizzling song,
A promise whispered, all day long.
Of golden crisp and airy grace,
A smile upon my hungry face.

The batter, fermented, light and free,
Poured on the heat for all to see.
A swirling dance, a perfect round,
The best breakfast that can be found.

From Mysore's spice to plain delight,
A culinary, shining light.
With sambar's tang and chutney's zest,
It puts my tastebuds to the test.

The paper dosa, thin and grand,
A crispy landscape in my hand.
The masala's warmth, a hidden prize,
Reflected in my eager eyes.

I tear and dip, I savor slow,
The flavors bloom, a vibrant glow.
No fancy dish can hold a flame,
To dosa's simple, humble fame.

Oh, dosa, dosa, my heart's desire,
You set my appetite on fire.
A love affair that knows no end,
My crispy, golden, dearest friend.

##### MYSQL CONNECTION

In [4]:
from langchain.utilities import SQLDatabase
db = SQLDatabase.from_uri(f"mysql+pymysql://{user}:{pswd}@{host}/{name}", sample_rows_in_table_info = 3)

In [5]:
print(db.table_info)

CREATE TABLE discounts (
	discount_id INTEGER NOT NULL AUTO_INCREMENT,
	t_shirt_id INTEGER NOT NULL,
	pct_discount DECIMAL(5, 2),
	PRIMARY KEY (discount_id),
	CONSTRAINT discounts_ibfk_1 FOREIGN KEY(t_shirt_id) REFERENCES t_shirts (t_shirt_id),
	CONSTRAINT discounts_chk_1 CHECK ((`pct_discount` between 0 and 100))
)ENGINE=InnoDB COLLATE utf8mb4_0900_ai_ci DEFAULT CHARSET=utf8mb4

/*
3 rows from discounts table:
discount_id	t_shirt_id	pct_discount
21	1	10.00
22	2	15.00
23	3	20.00
*/


CREATE TABLE t_shirts (
	t_shirt_id INTEGER NOT NULL AUTO_INCREMENT,
	brand ENUM('Van Huesen','Levi','Nike','Adidas') NOT NULL,
	color ENUM('Red','Blue','Black','White') NOT NULL,
	size ENUM('XS','S','M','L','XL') NOT NULL,
	price INTEGER,
	stock_quantity INTEGER NOT NULL,
	PRIMARY KEY (t_shirt_id),
	CONSTRAINT t_shirts_chk_1 CHECK ((`price` between 10 and 50))
)ENGINE=InnoDB COLLATE utf8mb4_0900_ai_ci DEFAULT CHARSET=utf8mb4

/*
3 rows from t_shirts table:
t_shirt_id	brand	color	size	price	stock_quantity
1	Adidas	Blue	XL	23	22
2	Nike	Red	XL	15	80
3	Levi	Red	XL	50	51
*/

##### DIRECT MYSQL QUERY

In [6]:
import pymysql

# Connect to your database
connection = pymysql.connect(
    host=host,
    user=user,
    password=pswd,
    database=name
)

try:
    with connection.cursor() as cursor:
        # Execute the query without markdown formatting
        sql = '''SELECT sum(a.total_amount*((100-COALESCE(discounts.pct_discount,0))/100)) AS total_revenue
        FROM (
            SELECT sum(price*stock_quantity) AS total_amount, t_shirt_id 
            FROM t_shirts 
            WHERE brand = 'Levi'
            GROUP BY t_shirt_id
            )
        a LEFT JOIN discounts 
        ON a.t_shirt_id = discounts.t_shirt_id

            '''
        cursor.execute(sql)
        result = cursor.fetchall()
        print(result)
finally:
    connection.close()

((Decimal('20107.100000'),),)

##### SQL QUERY GENERATOR

###### CODE TO print the RESULT ROWS

In [7]:
from langchain.chains import create_sql_query_chain
from langchain_community.utilities import SQLDatabase
from langchain_core.output_parsers import StrOutputParser
from langchain_community.tools.sql_database.tool import QuerySQLDatabaseTool

# Create a custom tool that extends QuerySQLDatabaseTool to clean queries
class CleanQuerySQLDatabaseTool(QuerySQLDatabaseTool):
    def _run(self, query: str, **kwargs):
        # Remove markdown code block formatting if present
        if query.startswith("```"):
            # Extract the query from the markdown code block
            lines = query.split("\n")
            # Remove the first line (```sql) and the last line (```
            clean_lines = lines[1:-1] if lines[-1].strip() == "```" else lines[1:]
            query = "\n".join(clean_lines)
            print ("SQL QUERY:", query)
        return super()._run(query, **kwargs)

# Create the SQL query generation chain
write_query = create_sql_query_chain(llm, db)

# Create the custom SQL query execution tool
execute_query = CleanQuerySQLDatabaseTool(db=db)

# Chain them together
chain = write_query | execute_query

###### CODE to print the RESULT TABLE

In [50]:
from langchain.chains import create_sql_query_chain
from langchain_community.utilities import SQLDatabase
from langchain_core.output_parsers import StrOutputParser
from langchain_community.tools.sql_database.tool import QuerySQLDatabaseTool
import pandas as pd
import io
from tabulate import tabulate


class CleanQuerySQLDatabaseTool(QuerySQLDatabaseTool):
    def _run(self, query: str, **kwargs):
        # Remove markdown code block formatting if present
        if query.startswith("```"):
            lines = query.split("\n")
            clean_lines = lines[1:-1] if lines[-1].strip() == "```" else lines[1:]
            query = "\n".join(clean_lines)
            print("SQL QUERY:", query)
        
        # Convert to table format using tabulate
        try:
            # Execute the query directly to get structured data
            with self.db._engine.connect() as connection:
                df = pd.read_sql(query, connection)
                
            # Format as a nice table using tabulate
            if not df.empty:
                return tabulate(df, headers='keys', tablefmt='grid', showindex=False)
            else:
                return "No results found."
                
        except Exception as e:
            # If pandas formatting fails, return original result
            return result


# Create the SQL query generation chain
write_query = create_sql_query_chain(llm, db)

# Create the custom SQL query execution tool
execute_query = CleanQuerySQLDatabaseTool(db=db)

# Chain them together
chain = write_query | execute_query

###### Example queries

In [61]:

# Now results are automatically parsed

result1 = chain.invoke({"question":  "Which t-shirt gives the highest discount [in terms of money]"})

SQL QUERY: SELECT
  `t_shirt_id`
FROM discounts
ORDER BY
  `pct_discount` DESC
LIMIT 1;

In [63]:
write_query

RunnableAssign(mapper={
  input: RunnableLambda(...),
  table_info: RunnableLambda(...)
})
| RunnableLambda(...)
| PromptTemplate(input_variables=['input', 'table_info'], input_types={}, partial_variables={'top_k': '5'}, template='You are a MySQL expert. Given an input question, first create a syntactically correct MySQL query to run, then look at the results of the query and return the answer to the input question.\nUnless the user specifies in the question a specific number of examples to obtain, query for at most {top_k} results using the LIMIT clause as per MySQL. You can order the results to return the most informative data in the database.\nNever query for all columns from a table. You must query only the columns that are needed to answer the question. Wrap each column name in backticks (`) to denote them as delimited identifiers.\nPay attention to use only the column names you can see in the tables below. Be careful to not query for columns that do not exist. Also, pay attention to which column is in which table.\nPay attention to use CURDATE() function to get the current date, if the question involves "today".\n\nUse the following format:\n\nQuestion: Question here\nSQLQuery: SQL Query to run\nSQLResult: Result of the SQLQuery\nAnswer: Final answer here\n\nOnly use the following tables:\n{table_info}\n\nQuestion: {input}')
| RunnableBinding(bound=GoogleGenerativeAI(model='gemini-2.0-flash', google_api_key=SecretStr('**********'), temperature=0.2, client=ChatGoogleGenerativeAI(model='models/gemini-2.0-flash', google_api_key=SecretStr('**********'), temperature=0.2, client=<google.ai.generativelanguage_v1beta.services.generative_service.client.GenerativeServiceClient object at 0x0000021536A8F310>, default_metadata=(), model_kwargs={})), kwargs={'stop': ['\nSQLResult:']}, config={}, config_factories=[])
| StrOutputParser()
| RunnableLambda(_strip)

In [38]:
# Wrong
# Execute the chain with your question
qns1 = chain.invoke({"question": "How many t-shirts do we have left for nike in extra small size and white color?"})

SQL QUERY: SELECT
  `stock_quantity`
FROM t_shirts
WHERE
  `brand` = 'Nike' AND `size` = 'XS' AND `color` = 'White';

In [39]:
type(qns1)

str

In [40]:
print(qns1)

+------------------+
|   stock_quantity |
+==================+
|               11 |
+------------------+

In [41]:
# Correct
# Execute the chain with your question
qns2 = chain.invoke({"question": "How much is the price of the inventory for all small size t-shirts?"})

SQL QUERY: SELECT SUM(`price` * `stock_quantity`) AS total_inventory_value
FROM `t_shirts`
WHERE `size` = 'S';

In [43]:
print(qns2)

+-------------------------+
|   total_inventory_value |
+=========================+
|                   17517 |
+-------------------------+

In [44]:
# Wrong
# Execute the chain with your question
qns3 = chain.invoke({"question": "If we have to sell all the Levi's T-shirts today with discounts applied. How much revenue our store will generate (post discounts)?"})

SQL QUERY: SELECT
  SUM(
    (
      `t`.`price` * `d`.`pct_discount` / 100
    ) * `t`.`stock_quantity`
  ) AS revenue
FROM t_shirts AS t
JOIN discounts AS d
  ON `t`.`t_shirt_id` = `d`.`t_shirt_id`
WHERE
  `t`.`brand` = 'Levi';

In [18]:
qns3

"[(Decimal('7115.100000'),)]"

In [45]:
print(qns3)

+-----------+
|   revenue |
+===========+
|    2001.9 |
+-----------+

In [47]:
# Correct
# Execute the chain with your question
qns4 = chain.invoke({"question": "How many white color Levi's t shirts we have available?"})
print(qns4)

SQL QUERY: SELECT SUM(`stock_quantity`) FROM t_shirts WHERE `color` = 'White' AND `brand` = 'Levi'
+-------------------------+
|   SUM(`stock_quantity`) |
+=========================+
|                      80 |
+-------------------------+

In [14]:
# Correct
# Execute the chain with your question
qns5 = chain.invoke({"question": "If we have to sell all the Leviâ€™s T-shirts today. How much revenue our store will generate without discount?"})
qns5

SQL QUERY: SELECT SUM(`price` * `stock_quantity`) AS total_revenue
FROM `t_shirts`
WHERE `brand` = 'Levi';

"[(Decimal('22109'),)]"

In [15]:
# Correct
# Execute the chain with your question
qns6 = chain.invoke({"question": "How many Levi's t shirts we have available?"})
qns6

SQL QUERY: SELECT SUM(`stock_quantity`) FROM `t_shirts` WHERE `brand` = 'Levi'

"[(Decimal('779'),)]"

In [ ]:
# Wrong
# Execute the chain with your question
qns7 = chain.invoke({"question": "Which t-shirt gives the highest discount [in terms of money]"})
qns7

SQL QUERY: SELECT
  `t_shirt_id`,
  `pct_discount`
FROM discounts
ORDER BY
  `pct_discount` DESC
LIMIT 1;

"[(12, Decimal('45.00'))]"

In [ ]:
# Execute the chain with your question
qns7 = chain.invoke({"question": "Execute this query: SELECT sum(a.total_amount*((100-COALESCE(discounts.pct_discount,0))/100)) AS total_revenue FROM ( SELECT sum(price*stock_quantity) AS total_amount, t_shirt_id FROM t_shirts WHERE brand = 'Levi' GROUP BY t_shirt_id ) a LEFT JOIN discounts ON a.t_shirt_id = discounts.t_shirt_id"})
qns7

SQL QUERY: SELECT
  sum(a.total_amount * ((
    100 - COALESCE(discounts.pct_discount, 0)
  ) / 100)) AS total_revenue
FROM (
  SELECT
    sum(`price` * `stock_quantity`) AS total_amount,
    `t_shirt_id`
  FROM t_shirts
  WHERE
    `brand` = 'Levi'
  GROUP BY
    `t_shirt_id`
) AS a
LEFT JOIN discounts
  ON a.`t_shirt_id` = discounts.`t_shirt_id`;

"[(Decimal('20107.100000'),)]"

In [ ]:
# Execute the chain with your question
qns8 = chain.invoke({"question": "Execute this query: SELECT MAX(price*pct_discount/100) AS discount_amount FROM t_shirts t JOIN discounts d ON t.t_shirt_id = d.t_shirt_id;"})
qns8

SQL QUERY: SELECT
  MAX(`price` * `pct_discount` / 100) AS discount_amount
FROM t_shirts AS t
JOIN discounts AS d
  ON t.`t_shirt_id` = d.`t_shirt_id`;

"[(Decimal('12.600000'),)]"

##### FEW SHOT LEARNING

In [ ]:
few_shots = [
    {
        'Question': "How many t-shirts do we have left for nike in extra small size and white color?",
        'SQLQuery': "SELECT SUM(stock_quantity) FROM t_shirts WHERE brand = 'Nike' AND size = 'XS' AND color = 'White';",
        'SQLResult': "Result of the SQL Query",
        'Answer':qns1
    },
    {
        'Question': "If we have to sell all the Levi's T-shirts today with discounts applied. How much revenue our store will generate (post discounts)?",
        'SQLQuery': "SELECT sum(a.total_amount*((100-COALESCE(discounts.pct_discount,0))/100)) AS total_revenue FROM ( SELECT sum(price*stock_quantity) AS total_amount, t_shirt_id FROM t_shirts WHERE brand = 'Levi' GROUP BY t_shirt_id ) a LEFT JOIN discounts ON a.t_shirt_id = discounts.t_shirt_id",
        'SQLResult': "Result of the SQL Query",
        'Answer':qns7
    },
    {
        'Question': "What is the highest discount in terms of money that is given?",
        'SQLQuery': "SELECT MAX(price*pct_discount/100) AS discount_amount FROM t_shirts t JOIN discounts d ON t.t_shirt_id = d.t_shirt_id;",
        'SQLResult': "Result of the SQL Query",
        'Answer':qns8
    },

]

In [ ]:
qns8

"[(Decimal('12.600000'),)]"

##### EMBEDDINGS

In [ ]:
from langchain.embeddings import HuggingFaceEmbeddings

embeddings = HuggingFaceEmbeddings(model_name = 'sentence-transformers/all-MiniLM-L6-v2')

C:\Users\layas\AppData\Local\Temp\ipykernel_28732\282906811.py:3: LangChainDeprecationWarning: The class `HuggingFaceEmbeddings` was deprecated in LangChain 0.2.2 and will be removed in 1.0. An updated version of the class exists in the :class:`~langchain-huggingface package and should be used instead. To use it run `pip install -U :class:`~langchain-huggingface` and import as `from :class:`~langchain_huggingface import HuggingFaceEmbeddings``.
  embeddings = HuggingFaceEmbeddings(model_name = 'sentence-transformers/all-MiniLM-L6-v2')
c:\Users\layas\Desktop\Laya\Project Files\GenAI_Tshirt_Sales\venv\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [ ]:
to_vectorize = [" ".join(example.values()) for example in few_shots]

In [ ]:
from langchain.vectorstores import Chroma
vectorstore = Chroma.from_texts(to_vectorize, embedding = embeddings, metadatas = few_shots)

In [ ]:
from langchain.prompts import SemanticSimilarityExampleSelector
example_selector = SemanticSimilarityExampleSelector(
    vectorstore = vectorstore,
    k=2,
)

In [ ]:
example_selector.select_examples({"Question":"How many Adidas T shirts I have left in my store?"})

[{'SQLQuery': "SELECT SUM(stock_quantity) FROM t_shirts WHERE brand = 'Nike' AND size = 'XS' AND color = 'White';",
  'Question': 'How many t-shirts do we have left for nike in extra small size and white color?',
  'SQLResult': 'Result of the SQL Query',
  'Answer': '[(11,)]'},
 {'Question': "If we have to sell all the Levi's T-shirts today with discounts applied. How much revenue our store will generate (post discounts)?",
  'SQLQuery': "SELECT sum(a.total_amount*((100-COALESCE(discounts.pct_discount,0))/100)) AS total_revenue FROM ( SELECT sum(price*stock_quantity) AS total_amount, t_shirt_id FROM t_shirts WHERE brand = 'Levi' GROUP BY t_shirt_id ) a LEFT JOIN discounts ON a.t_shirt_id = discounts.t_shirt_id",
  'Answer': "[(Decimal('20107.100000'),)]",
  'SQLResult': 'Result of the SQL Query'}]

##### PROMPT TEMPLATE

In [ ]:
from langchain.chains.sql_database.prompt import PROMPT_SUFFIX, _mysql_prompt

In [ ]:
print(_mysql_prompt)

You are a MySQL expert. Given an input question, first create a syntactically correct MySQL query to run, then look at the results of the query and return the answer to the input question.
Unless the user specifies in the question a specific number of examples to obtain, query for at most {top_k} results using the LIMIT clause as per MySQL. You can order the results to return the most informative data in the database.
Never query for all columns from a table. You must query only the columns that are needed to answer the question. Wrap each column name in backticks (`) to denote them as delimited identifiers.
Pay attention to use only the column names you can see in the tables below. Be careful to not query for columns that do not exist. Also, pay attention to which column is in which table.
Pay attention to use CURDATE() function to get the current date, if the question involves "today".

Use the following format:

Question: Question here
SQLQuery: SQL Query to run
SQLResult: Result of the SQLQuery
Answer: Final answer here

In [ ]:
print(PROMPT_SUFFIX)

Only use the following tables:
{table_info}

Question: {input}

In [ ]:
from langchain.prompts.prompt import PromptTemplate

example_prompt = PromptTemplate(
    input_variables=["Question", "SQLQuery", "SQLResult", "Answer"],
    template="\nQuestion: {Question}\nSQLQuery: {SQLQuery}\nSQLResult: {SQLResult}\nAnswer: {Answer}"
)

In [ ]:
from langchain.prompts import FewShotPromptTemplate

few_shot_prompt = FewShotPromptTemplate(
    example_selector=example_selector,
    example_prompt=example_prompt,
    prefix=_mysql_prompt,
    suffix=PROMPT_SUFFIX,
    input_variables = ["input", "table_info", "top_k"],
)

##### NEW CHAIN

In [ ]:
write_query_new = create_sql_query_chain(llm, db, prompt = few_shot_prompt)

# Create the custom SQL query execution tool
execute_query_new = CleanQuerySQLDatabaseTool(db=db)

# Chain them together
new_chain = write_query_new | execute_query_new

In [ ]:
# Execute the chain with your question
qns1_new = new_chain.invoke({"question": "How many t-shirts do we have left for nike in extra small size and white color?"})

SQL QUERY: SELECT SUM(`stock_quantity`) FROM `t_shirts` WHERE `brand` = 'Nike' AND `size` = 'XS' AND `color` = 'White'

In [ ]:
qns1_new

"[(Decimal('11'),)]"

In [ ]:
# Wrong
# Execute the chain with your question
qns3_new = new_chain.invoke({"question": "If we have to sell all the Levi's T-shirts today with discounts applied. How much revenue our store will generate (post discounts)?"})
qns3_new

SQL QUERY: SELECT
  SUM(a.total_amount * (
    (
      100 - COALESCE(discounts.pct_discount, 0)
    ) / 100
  )) AS total_revenue
FROM (
  SELECT
    SUM(price * stock_quantity) AS total_amount,
    t_shirt_id
  FROM t_shirts
  WHERE
    brand = 'Levi'
  GROUP BY
    t_shirt_id
) a
LEFT JOIN discounts
  ON a.t_shirt_id = discounts.t_shirt_id;

"[(Decimal('20107.100000'),)]"

In [ ]:
# Wrong
# Execute the chain with your question
qns7_new = new_chain.invoke({"question": "Which t-shirt gives the highest discount [in terms of money]"})
qns7_new

SQL QUERY: SELECT
  `t_shirt_id`
FROM t_shirts AS t
JOIN discounts AS d
  ON t.t_shirt_id = d.t_shirt_id
ORDER BY
  t.price * d.pct_discount / 100 DESC
LIMIT 1;

'Error: (pymysql.err.OperationalError) (1052, "Column \'t_shirt_id\' in field list is ambiguous")\n[SQL: SELECT\n  `t_shirt_id`\nFROM t_shirts AS t\nJOIN discounts AS d\n  ON t.t_shirt_id = d.t_shirt_id\nORDER BY\n  t.price * d.pct_discount / 100 DESC\nLIMIT 1;]\n(Background on this error at: https://sqlalche.me/e/20/e3q8)'

##### ROUGH AREA

In [ ]:
from langchain.chains import create_sql_query_chain
from langchain_community.utilities import SQLDatabase
from langchain_community.tools.sql_database.tool import QuerySQLDatabaseTool


# Create the SQL query generation chain
write_query = create_sql_query_chain(llm, db)

# Create the SQL query execution tool
execute_query = QuerySQLDatabaseTool(db=db)

# Chain them together
chain = write_query | execute_query


# Execute the chain with your question
result = chain.invoke({"question": "How many t-shirts do we have left for nike in extra small size and white color?"})

print(result)

Error: (pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '```sql\nSELECT `stock_quantity` FROM `t_shirts` WHERE `brand` = 'Nike' AND `size`' at line 1")
[SQL: ```sql
SELECT `stock_quantity` FROM `t_shirts` WHERE `brand` = 'Nike' AND `size` = 'XS' AND `color` = 'White' LIMIT 5
```]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [ ]:
# from langchain_experimental.sql import SQLDatabaseChain
# db_chain = SQLDatabaseChain.from_llm(llm, db, verbose=True, use_query_checker = True)
# db_chain | RunnableLambda(lambda x:x.replace('```','').replace('sql',''))
# qns1 = db_chain.invoke("How many t-shirts do we have left for nike in extra small size and white color?")


from langchain_core.runnables import RunnableLambda
from langchain.chains import create_sql_query_chain
from langchain_community.utilities import SQLDatabase

chain = create_sql_query_chain(llm, db)
chain | RunnableLambda(lambda x:x.replace('```','').replace('sql',''))
qns1 = chain.invoke({"question": "How many t-shirts do we have left for nike in extra small size and white color?"})